<div class="container">

  <form>

    <p>Il candidato dichiara:</p>

    <div fxLayout="column" fxLayout.xs="column">
      <mat-checkbox>di avere almeno 15 anni di anzianità nel proprio ruolo</mat-checkbox>
      <mat-checkbox>di possedere un titolo di studio di secondo grao ad indirizzo tecnico professionale ...</mat-checkbox>
      <mat-checkbox>di non aver riportato sanzoini disciplinare</mat-checkbox>
      <mat-checkbox>di non aver riporrtato sentenza irrevocabile di condanna ...</mat-checkbox>
    </div>

    <div fxLayout="column" style="margin-top: 10px;">
      <div fxFlex="row" fxLayoutGap="15px">
        <span fxFill fxFlex="1 1 0"></span>
        <button class="material-button" color="primary" mat-flat-button matStepperPrevious>Indietro</button>
        <button class="material-button" color="primary" mat-flat-button matStepperNext>Avanti</button>
      </div>
    </div>


  </form>
</div>
