<div class="container" >

  <div fxLayout="column" fxLayoutGap="10px" [formGroup]="form">


  <h3 style="font-weight: 400">Dati risultanti</h3>

  <div fxLayout="row" fxLayout.xs="column" >

      <mat-form-field appearance="outline" fxFlex="0 0 40" fxFlex.xs="auto">
        <mat-label>Qualifica</mat-label>
        <label>
          <input name="qualifica"
                 matInput
                 formControlName="qualifica"
          >
        </label>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="0 0 60" fxFlex.xs="auto">
        <mat-label>Sede giuridica di appartenenza</mat-label>
        <label>
          <input name="sedeGiuridica"
                 matInput
                 formControlName="sedeGiuridica"
          >
        </label>
      </mat-form-field>

  </div>

  <mat-divider></mat-divider>

  <div fxLayout="row">
    <h3 style="font-weight: 400">Dati dichiarati</h3>
    <p style="
    font-size: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
font-weight: 100;">(Editabile)</p>
  </div>

  <div fxLayout="row" fxLayout.xs="column" >

    <mat-form-field appearance="outline" fxFlex="0 0 40" fxFlex.xs="auto">
      <mat-label>Qualifica</mat-label>
      <mat-select formControlName="qualificaDichiarata">
        <mat-option *ngFor="let sede of sediLst" [value]="sede" >
          {{sede}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="0 0 60" fxFlex.xs="auto">
      <mat-label>Qualifica</mat-label>
      <mat-select formControlName="sedeGiuriridicaDichiarata">
        <mat-option *ngFor="let qualifica of qualificheLst" [value]="qualifica" >
          {{qualifica}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </div>

  </div>

  <div fxLayout="column" style="margin-top: 10px;">
    <div fxFlex="row" fxLayoutGap="15px">
      <span fxFill fxFlex="1 1 0"></span>
      <button class="material-button" color="primary" mat-flat-button matStepperPrevious>Indietro</button>
      <button class="material-button" color="primary" mat-flat-button matStepperNext>Avanti</button>
    </div>
  </div>

</div>
