.container {
  max-width: 1300px;
  margin: 0 auto;
}

mat-form-field {
  padding-right: 10px;
}

#dichiarazioni {
  margin-left: 50px;
}

.dataMismatch {
  ::ng-deep &.mat-form-field-appearance-outline .mat-form-field-outline {
    color: orange;
  }

  ::ng-deep &.mat-focused .mat-form-field-label {
    color: orange;
  }

}

