<h3>Inserisci qui le informazioni non risultanti in sipec info</h3>


<div fxLayout="column" fxLayoutGap="10px" [formGroup]="form">

  <div fxLayout="column" fxLayout.xs="column" >
    <mat-form-field appearance="outline" fxFlex.xs="auto">
      <mat-label>Tipologia Titolo di Studio</mat-label>
      <mat-select formControlName="tipologia">
        <mat-option *ngFor="let tipologia of ($tipologiaDiStudioLst | async)" [value]="tipologia" >
          {{tipologia.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex.xs="auto">
      <mat-label>Titolo di studio</mat-label>
      <mat-select formControlName="titoloDiStudio">
        <mat-option *ngFor="let titolo of ($titoloDiStudioLst | async)" [value]="titolo" >
          {{titolo.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- TODO: ngIf crea errori non fa caricare la dropdown lista la prima volta -->

    <mat-form-field appearance="outline" fxFlex.xs="auto" *ngIf="($indirizzoDiTitoloLst | async)">
      <mat-label>Indirizzo di titolo</mat-label>
      <mat-select formControlName="indirizzo">
        <mat-option *ngFor="let indirizzo of ($indirizzoDiTitoloLst | async)" [value]="indirizzo" >
          {{indirizzo.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>


  </div>

  <div fxLayout="row" fxLayout.xs="column" >

    <mat-form-field appearance="outline" fxFlex="0 0 20" fxFlex.xs="auto">
      <mat-label>Data conseguimento</mat-label>
      <input name="dataDiConseguimento"
               [matDatepicker]="pickerDataConseguimento"
                matInput
               formControlName="dataDiConseguimento"
        >
        <mat-datepicker-toggle matSuffix [for]="pickerDataConseguimento"></mat-datepicker-toggle>
        <mat-datepicker #pickerDataConseguimento></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="0 0 20" fxFlex.xs="auto">
      <mat-label>Periodo Conseguimento</mat-label>
      <input name="periodoConseguimento"
             [matDatepicker]="pickerPeriodoConseguimento"
             matInput
             formControlName="periodoConseguimento"
      >
      <mat-datepicker-toggle matSuffix [for]="pickerPeriodoConseguimento"></mat-datepicker-toggle>
      <mat-datepicker #pickerPeriodoConseguimento></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="0 0 60" fxFlex.xs="auto">
      <mat-label>Luogo</mat-label>
      <label>
        <input name="luogo"
               matInput
               formControlName="luogo"
        >
      </label>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayout.xs="column" >


    <mat-form-field appearance="outline" fxFlex fxFlex.xs="auto">
      <mat-label>Nome Istituto</mat-label>
      <label>
        <input name="istituto"
               matInput
               formControlName="istituto"
        >
      </label>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayout.xs="column" >

    <mat-form-field appearance="outline" fxFlex="0 0 50" fxFlex.xs="auto">
      <mat-label>Provincia</mat-label>
      <mat-select formControlName="provincia">
        <mat-option *ngFor="let provincia of ($province | async)" [value]="provincia" >
          {{provincia.provincia}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="0 0 50" fxFlex.xs="auto">
      <mat-label>Comune</mat-label>
      <mat-select formControlName="comune">
        <mat-option *ngFor="let comn of ($comuni | async)" [value]="comn" >
          {{comn.comune}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div fxLayout="row"  fxLayoutGap="20px">
    <button mat-flat-button color="primary"
            [disabled]="!isFormReady()"
            (click)="sendData()"
            [mat-dialog-close]="dataDialog"> Inserisci</button>

    <button mat-flat-button id="discard" (click)="onNoClick()" >Esci</button>
  </div>


</div>
