
<h3>Inserisci qui le informazioni non risultanti in sipec info</h3>


<div fxLayout="column" fxLayoutGap="10px" [formGroup]="form">

  <div fxLayout="column" fxLayout.xs="column" >
    <mat-form-field appearance="outline"  fxFlex.xs="auto">
      <mat-label> <mat-icon>edit</mat-icon> Tipologia titolo studio</mat-label>
      <mat-select #singleSelect
                  formControlName="tipologia"
                  placeholder="Seleziona sede">
        <ngx-mat-select-search formControlName="tipologiaTitoliDropdown"
                               [noEntriesFoundLabel]="'Nessun risultato'"
                               [placeholderLabel]="'Cerca sede'"></ngx-mat-select-search>
        <mat-option *ngFor="let sede of (tipologiaTitoliFilter | async)" [value]="sede">
          {{sede}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="tipologia.hasError('required')">
        <mat-icon matSuffix>error</mat-icon>
        Il campo è <strong>Obbligatorio</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field  *ngIf="displayTitoli"  appearance="outline" fxFlex.xs="auto">
      <mat-label> <mat-icon>edit</mat-icon>Titolo di studio</mat-label>
      <mat-select #singleSelect
                  formControlName="titolo"
                  placeholder="Seleziona sede">
        <ngx-mat-select-search formControlName="titoliStudioDropdown"
                               [noEntriesFoundLabel]="'Nessun risultato'"
                               [placeholderLabel]="'Cerca titolo'"></ngx-mat-select-search>
        <mat-option *ngFor="let titoli of (titoliStudioFilter | async)" [value]="titoli">
          {{titoli}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="titolo.hasError('required')">
        <mat-icon matSuffix>error</mat-icon>
        Il campo è <strong>Obbligatorio</strong>
      </mat-error>
    </mat-form-field>



     <!-- TODO: ngIf crea errori non fa caricare la dropdown lista la prima volta -->
     <mat-form-field *ngIf="displayIndirizzi"  appearance="outline"  fxFlex.xs="auto">
       <mat-label> <mat-icon>edit</mat-icon> Indirizzo titolo studio</mat-label>
       <mat-select #singleSelect
                   formControlName="indirizzo"
                   placeholder="Seleziona indirizzo">
         <ngx-mat-select-search formControlName="indirizzoStudioDropdown"
                                [noEntriesFoundLabel]="'Nessun risultato'"
                                [placeholderLabel]="'Cerca indirizzo'"></ngx-mat-select-search>
         <mat-option *ngFor="let indirizzo of (indirzzoStudioFilter | async)" [value]="indirizzo">
           {{indirizzo}}
         </mat-option>
       </mat-select>
       <mat-error *ngIf="indirizzo.hasError('required')">
         <mat-icon matSuffix>error</mat-icon>
         Il campo è <strong>Obbligatorio</strong>
       </mat-error>
     </mat-form-field>
  </div>

  <div fxLayout="row" fxLayout.xs="column" >

    <mat-form-field appearance="outline" fxFlex="0 0 20" fxFlex.xs="auto">
      <mat-label> <mat-icon>edit</mat-icon> Indirizzo titolo studio</mat-label>
      <input name="dataConseguimento"
               [matDatepicker]="pickerDataConseguimento"
                matInput
               formControlName="dataConseguimento"
        >
        <mat-datepicker-toggle matSuffix [for]="pickerDataConseguimento"></mat-datepicker-toggle>
        <mat-datepicker #pickerDataConseguimento></mat-datepicker>
      <mat-error *ngIf="dataConseguimento.hasError('required')">
        <mat-icon matSuffix>error</mat-icon>
        Il campo è <strong>Obbligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex fxFlex.xs="auto">
      <mat-label> <mat-icon>edit</mat-icon> Durata anni</mat-label>
      <label>
        <input name="durataAnni"
               matInput
               formControlName="durataAnni"
        >
      </label>
      <mat-error *ngIf="durataAnni.hasError('required')">
        <mat-icon matSuffix>error</mat-icon>
        Il campo è <strong>Obbligatorio</strong>
      </mat-error>
    </mat-form-field>


  </div>

  <div fxLayout="row" fxLayout.xs="column" >


    <mat-form-field appearance="outline" fxFlex fxFlex.xs="auto">
      <mat-label> <mat-icon>edit</mat-icon> Nome istituto</mat-label>
      <label>
        <input name="istituto"
               matInput
               formControlName="istituto"
        >
      </label>
      <mat-error *ngIf="istituto.hasError('required')">
        <mat-icon matSuffix>error</mat-icon>
        Il campo è <strong>Obbligatorio</strong>
      </mat-error>
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayout.xs="column" >

    <mat-form-field appearance="outline" fxFlex="0 0 50" fxFlex.xs="auto">
      <mat-label> <mat-icon>edit</mat-icon>Provincia istituo</mat-label>
      <mat-select #singleSelect
                  [formControl]="provincia"
                  placeholder="Seleziona Provincia">

        <ngx-mat-select-search [formControl]="provinceDropdown"
                               [noEntriesFoundLabel]="'Nessun risultato'"
                               [placeholderLabel]="'Cerca provincia . . '"></ngx-mat-select-search>
        <mat-option *ngFor="let prov of (provinceFilter | async)" [value]="prov">
          {{prov}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="provincia.hasError('required')">
        <mat-icon matSuffix>error</mat-icon>
        Il campo è <strong>Obbligatorio</strong>
      </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" fxFlex="0 0 50" fxFlex.xs="auto">
      <mat-label> <mat-icon>edit</mat-icon>Comune istituto</mat-label>
      <mat-select #singleSelect
                  [formControl]="comune"
                  placeholder="Seleziona Comune">

        <ngx-mat-select-search [formControl]="comuniDropdown"
                               [noEntriesFoundLabel]="'Nessun risultato'"
                               [placeholderLabel]="'Cerca comune . . '"></ngx-mat-select-search>
        <mat-option *ngFor="let com of (comuniFitler | async)" [value]="com">
          {{com}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="comune.hasError('required')">
        <mat-icon matSuffix>error</mat-icon>
        Il campo è <strong>Obbligatorio</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row"  fxLayoutGap="20px">
    <button mat-flat-button color="primary"
            [disabled]="!isFormReady()"
            (click)="sendData()"
            [mat-dialog-close]="dataDialog"> Inserisci</button>

    <button mat-flat-button id="discard" (click)="onNoClick()" >Esci</button>
  </div>


</div>
