<mat-card>
    <mat-card-header>
        <mat-card-title>
            <div fxLayout="row">
                <h4 id="benvenuto">Benvenuto&nbsp;</h4>
                <h4 id="nomeCognome">{{nomeCognomeCandidato}}</h4>
             </div>

        </mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <div>
            <h4>Info Concorso</h4>
            <ul>
                <li fxLayout="row">
                    <p>Nome Concorso:&nbsp;</p> <p class="info">{{infoConcorso.nomeConcorso}}</p>
                </li>
                <li fxLayout="row">
                    <p>Nome Titolo Concorso:&nbsp;</p> <p class="info">{{infoConcorso.titoloConcorso}}</p>
                </li>
                <li fxLayout="row">
                    <p>Data Inizio Domanda:&nbsp;</p> <p class="info">{{infoConcorso.dataInizioDomanda}}</p>
                </li>
                <li fxLayout="row">
                    <p>Data Fine Domanda:&nbsp;</p> <p class="info">{{infoConcorso.dataFineDomanda}}</p>
                </li>
                <li fxLayout="row">
                    <p>Data Fine Concorso:&nbsp;</p> <p class="info">{{infoConcorso.dataFineConcorso}}</p>
                </li>

            </ul>
        </div>

        <div>
            <h4 >Ecco lo storico delle tue attivita</h4>
                <ul>
                    <li fxLayout="row">
                        <p>Domanda inviata il:&nbsp;</p> <p class="info">{{ (domanda | async).domanda.dataInvio | customDate}}</p>
                    </li>
                    <li fxLayout="row">
                        <p>Ultima modifica:&nbsp;</p> <p class="info">{{ (domanda | async).domanda.dataModifica | customDate}}</p>
                    </li>
                    <li fxLayout="row">
                        <p>Stato domanda:&nbsp;</p> <p class="info">{{ (domanda| async).domanda.stato | statoDomanda}}</p>
                    </li>
                </ul>
        </div>



    </mat-card-content>
    <mat-card-actions>
        <button fxFlex="0 10 50" mat-button color="primary"(click)="modifica()"><a>MODIFICA DOMANDA</a></button>
        <button fxFlex="0 10 50" mat-button color="primary" (click)="visualizza()"><a>VISUALIZZA DOMANDA</a></button>
    </mat-card-actions>
</mat-card>
