<div style="max-width: 1300px; margin: 0 auto;">
    <p>Il seguente applicativo è una demo con le funzioni chiave che l'applicativo deve svolgere durante il concorso. Sezioni come <b>FAQ</b> e <b>CONTATTACI</b>
        non sono state ancora definite in via ufficiale dunque il loro funzionamento è puramente stilistico. Nell'applicativo comunque si potranno svolgere
        le azioni fondamentali necessarie alla presentazione della domanda nel concorso, che equivalgono a:</p>

    <ul>
        <li>Inviare domanda</li>
        <li>Visualizzare domanda già invita</li>
        <li>Aggiornare i dati della domanda</li>
        <li>Loggarsi con il jwt di un cas simulato</li>
    </ul>

    <p>Se si riscontrano bug o malfunzionamenti segnalarli specificando il problema.</p>
</div>

<div class="login-button">

    <a href="http://localhost:4200"><h4>Login</h4></a>

</div>
